/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /***************************************************
   TEXT
 *******************************************/
 .fancify {
   font-family: 'Berkshire Swash', cursive;
 }

.large-font {
  font-size: 9rem;

}

.medium {
  font-size: 3em;
}

 .smaller {
   font-size: 2em;
 }


/***************************************************
  LAYOUT
*******************************************/
.max-width {
  max-width: 100%;
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
}

#home {
  top: 200px;
  left: 200px;
}

#login-new {
  top: 100px;
  left: 200px;
}

/***************************************************
  IMAGES/DIVS
*******************************************/
.black-box {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 20px;
}

.white-box {
  color: black;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}


.space {
  margin: 10px;
}

.space-between {
  margin: 0px 2px;
}

.space-top-bottom {
  margin: 20px 0;
}

.smaller-width {
  width: 200px;
}

.no-padding {
  padding: 0;
}

.xlarge {
  width: 1000px;
}

.xlarge-height {
  height: 600px;
}

.same-height {
  height: 200px;
}

.same-width {
  width: 333px;
}

.object-fit-fill {
  object-fit: fill;
}

.no-margin {
  margin: 0 auto;
}

.less-margin {
  margin: 5px 0;
}

#total-likes {
  height: 350px;
}

.option {
  font-size: 2rem;
  padding-left: 20px;
}

.user-options {
  bottom: 0;
  right: 0;
}